<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://localhost:4200/#/dashboard">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/asistentes">
                        Asistentes
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/conferencias">
                        Conferencias
                    </a>
                </li>
                <li>
                    <a href="http://localhost:4200/#/nuevoasistente">
                        Nuevo Asistente
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, <a href="https://www.uniandes.edu.ec" target="_blank">UNIANDES</a>.
        </div>
    </div>
</footer>
