<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title">Lista de Clientes</h4>
                            <p class="card-category">Gestionar los clientes registrados</p>
                        </div>
                        <button class="btn btn-danger" (click)="agregarCliente()">Insertar Cliente</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!--<th>#</th>-->
                                    <th>ID</th>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th class="text-end">Acciones</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cliente of clientes; let i = index">
                                        <!--<td>{{ i + 1 }}</td>-->
                                        <td>{{ cliente.cli_id }}</td>
                                        <td>{{ cliente.cli_cod }}</td>
                                        <td>{{ cliente.cli_nom }}</td>
                                        <td>{{ cliente.cli_ape }}</td>
                                        <td>{{ cliente.cli_dir }}</td>
                                        <td>{{ cliente.cli_cel }}</td>
                                        <td>{{ cliente.cli_ema }}</td>
                                        <td class="text-end">
                                            <button class="btn" (click)="editarCliente(cliente.cli_id)">
                                                Editar
                                            </button>
                                            <button class="btn" (click)="eliminar(cliente.cli_id)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <button class="btn btn-danger" (click)="generarReporte()">Generar Reporte</button> <!-- Botón para generar reporte -->
            </div>
        </div>
    </div>
  </div>
  