<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title">Lista de Asistentes</h4>
                            <p class="card-category">Gestionar los asistentes registrados</p>
                        </div>
                        <button class="btn btn-outline-dark" (click)="agregarAsistente()">Insertar Asistente</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th class="text-end">Acciones</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let asistente of asistentes; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ asistente.asistente_id }}</td>
                                        <td>{{ asistente.nombre }}</td>
                                        <td>{{ asistente.apellido }}</td>
                                        <td>{{ asistente.email }}</td>
                                        <td>{{ asistente.telefono }}</td>
                                        <td class="text-end">
                                            <button class="btn btn-outline-success" (click)="editarAsistente(asistente.asistente_id)">
                                                Editar
                                            </button>
                                            <button class="btn btn-outline-danger" (click)="eliminar(asistente.asistente_id)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <button class="btn btn-danger" (click)="generarReporte()">Generar Reporte</button> <!-- Botón para generar reporte -->
            </div>
        </div>
    </div>
  </div>
  